<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" defer href="../static/aboutus.css">
    <script type="module" defer src="../static/aboutus.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

</head>
<body>

    <header>
        <nav>
            <a href="main.html">Home</a>
            <a href="workouts.html">Workouts</a>
            <a href="profile.html">Profile</a>
            <a href="aboutus.html">About Us</a>
            <a href="signup.html">Sign Up</a>
        </nav>
    </header>


    <section>
        <div class = "Isabelle">
            hey
        </div>

        <div id = "Araash">
            hej
        </div>

        <div id = "Sophia">
            hej
        </div>
    </section>

    <aside>
        <div>
        jol
        </div>
    </aside>


    <footer>
        <nav>
            <img class="pics" src="../static/waves3.jpg" alt="waves">
        </nav>
    </footer>

</body>

</html>