<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" defer href="../static/style.css">
    <script type="module" defer src="../static/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <header>
        <nav>
            <a href="main.html">Home</a>
            <a href="workouts.html">Workouts</a>
            <a href="profile.html">Profile</a>
            <a href="aboutus.html">About Us</a>
            <a href="signup.html">Sign Up</a>
        </nav>
    </header>
    <div class="main">
        <p id="intro">Create your own personalized swim workouts with our website:</p>
        <a href="signup.html">
            <button id="signup">Sign Up</button>
        </a>
        <p id="exampleIntro">Scroll to see an example workout:</p>
        <div id="workout"></div>
    </div>
    <footer>
        <nav>
            <img class="pics" src="../static/waves3.jpg" alt="waves">
        </nav>
    </footer>
</body>


</html>