<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" defer href="../static/profile.css">
    <script type="module" defer src="../static/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <header>
        <nav>
            <a href="main.html">Home</a>
            <a href="workouts.html">Workouts</a>
            <a href="profile.html">Profile</a>
            <a href="aboutus.html">About Us</a>
            <a href="signup.html">Sign Up</a>
        </nav>
    </header>
    <div class="main">
       <div class="pfp">
            <p class="name">Their Name</p>
       </div>
       <img id="pics" src="../static/pfp.jpg" alt="pfp1">
       <div class="stats">
            <p class="stats2">Stats:</p>
            <p class="stat1">Workouts Done:</p>
            <p class="stat1">School:</p>
            <p class="stat1">Swim level:</p>
            <p class="stat1">Other Sports:</p>
       </div>
       <div class="goal">
            <p class="goals1">Current Goals:</p>
            <p class="goals">Be ready for:</p>
            <p class="goals">By this date:</p>
            <a href="workouts.html">
                <p class="goals2">Click for your workout!</p>
            </a>
       </div>
       <div class="info">
            <p class="info1">Personal Info:</p>
            <p class="infos">Email:</p>
            <p class="infos">Username:</p>
            <p class="infos">Password:</p>
            <p class="infos">Email:</p>
       </div>
    </div>
    <footer>
        <nav>
            <img class="pics" src="../static/waves3.jpg" alt="waves">
        </nav>
    </footer>
</body>


</html>