<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" defer href="../static/signup.css">
    <script type="module" defer src="../static/signup.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

</head>
<body>

    <header>
        <nav>
            <a href="main.html">Home</a>
            <a href="workouts.html">Workouts</a>
            <a href="profile.html">Profile</a>
            <a href="aboutus.html">About Us</a>
            <a href="signup.html">Sign Up</a>
        </nav>
    </header>

    <article>
        <form id="form" onsubmit="event.preventDefault(); collectInput();">
            <label for="userInput" id="label">Sign up</label>
            <br><br>
            <input type="text" id="userInput" name="userInput" placeholder="Username">
            <br>
            <input type="text" id="userInput" name="userInput" placeholder="Email">
            <br>
            <input type="text" id="userInput" name="userInput" placeholder="Password">
            <br>
            <input type="text" id="userInput" name="userInput" placeholder="Confirm password">
            <br><br>
            <button type="submit">Submit</button>
        </form>
    </article>

    <p id="output"></p>

    <footer>
        <nav>
            <img class="pics" src="../static/waves3.jpg" alt="waves">
        </nav>
    </footer>

</body>


</html>