:root{
    --black: rgb(08, 07, 08);
    --blue: rgb(55, 114, 255);
    --darkBlue: rgb(55, 81, 255);
    --red: rgb(223, 41, 53);
    --yellow: rgb(253, 202, 64);
    --white: rgb(230, 232, 230);
}
@font-face {
    font-family: "Montserrat";
    src: url("../static/Montserrat-Regular.ttf");
}
* {
    color: var(--white);
    font-family: 'Montserrat';
    text-align: center;
}
/*top navi style:*/
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--blue);
    font-size: 20px;
    font-weight: bold;
    font-family: "Montserrat";
}
nav a {
    text-decoration: none;
    color: var(--white);
    padding: 20px 35px;
    display: inline-block;
}
nav a:hover {
    color: var(--yellow);
}
/*main style:*/
#intro {
    color: var(--black);
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    font-weight: bold;
}

#signup {
    color: var(--white);
    position: fixed;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--blue);
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
}
#signup:hover {
    background-color: var(--darkBlue);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#exampleIntro {
    color: var(--black);
    position: fixed;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    font-weight: bold;
}
#workout {
    position: fixed;
    width: 70%;
    left: 50%;
    transform: translateX(-30%);
    font-size: 20px;
    font-weight: bold;
}
.sun {
    position:fixed;
    top: 80px;
    right: 20px;
    width: 17%;
    height: 32%;
}

/*footer*/
.life {
    position:fixed;
    bottom: 0px;
    left: 0px;
    width: 30%;
    height: 70%;
}
.pics {
    position: fixed;
    bottom: 0;  
    left: 50%;  
    transform: translateX(-50%); 
    width: 100%;
}